<% data_points = @ses.statistics.result.sort_by{|x| x["Timestamp"]} %>
<h2><%= label %>: <%= data_points.map{|x|x[tracked_statistic_name]}.map(&:to_i).inject{|sum, x| sum+x} %> over last 2 weeks</h2>
<br/>
<br/>
<br/>
<img src="/gchart/<%= tracked_statistic_name %>" width="1000" height="300" alt="<%= label %>" />
